@mixin collectionPage {
  h5 {
    @apply text-3xl text-brown;
  }

  p {
    @apply text-lg;
  }

  .keyH2 {
    @screen md {
      font-size: 3.2rem;
    }
    @screen sm {
      @apply text-4xl;
    }
  }

  .banner {
    margin-top: 77px;
    height: 560px;
    background-position: center;
    background-size: cover;

    @screen md {
      margin-top: 56px;
    }

    @screen sm {
      height: 375px;
    }
  }

  .navigateBannerMargin {
    margin-top: -144px;
  }
}
