html,
body {
  @apply overflow-x-hidden m-0 p-0;
}

html {
  @apply text-dark bg-bgMain;
  font-size: 10px;
  font-family: Arial, sans-serif;
}

div {
  box-sizing: border-box;
}

p {
  @apply text-base m-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0 font-bold;
}

h2 {
  @apply text-6xl;
}

h4 {
  @apply text-4xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

a {
  @apply text-base;
  text-decoration: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;

  &.sm_full {
    @screen sm {
      padding: 0;
    }
  }
}

.button {
  @apply text-base outline-none inline-flex items-center justify-center;
  cursor: pointer;
  border-radius: 50px;
  padding: 4px 24px;
  transition: 0.3s;
  border-width: 3px;
  border-style: solid;

  &:focus {
    @apply outline-none;
  }

  &.bg-pink {
    @apply border-pink;

    &:hover {
      @apply border-pinkAction bg-pinkAction;
    }
    &:active {
      @apply border-pink;
    }
  }

  &.bg-green {
    @apply border-green;

    &:hover {
      @apply border-greenAction bg-greenAction;
    }
    &:active {
      @apply border-green;
    }
  }
}

.image {
  @apply bg-cover bg-center bg-no-repeat;
}

.hoverFloat {
  transition: 0.3s;
  &:hover {
    @apply shadow-md;
    transform: translateY(-3px) !important;
  }

  &.shadow-md {
    &:hover {
      @apply shadow-lg;
      transform: translateY(-3px) !important;
    }
  }
}
